<p><span style="color: #000080;">_______________________________________________________________________<br />Jenkins <strong>DEV IFP mssql report</strong>:</span></p>
<p><span style="color: #000080;">Build № <strong>{{ BUILD_NEMBER_VAR }}</strong> status : <strong>{{ STATUS_VAR }}</strong></span></p>
<p><br /><span style="color: #000080;">Start job time: <strong>{{ START_JOB_VAR }}</strong></span><br /><span style="color: #000080;">End&nbsp; job time: <strong>{{ END_JOB_VAR }}</strong></span></p>
<p>&nbsp;</p>
<table style="height: 87px; width: 428px; border-color: black; float: left;" border="3">
<tbody>
<tr>
<td style="width: 94.1745px; text-align: center; background-color: #33caff;">Check files</td>
<td style="width: 139.825px; text-align: center; background-color: #33caff;">Copy files</td>
<td style="width: 172px; text-align: center; background-color: #33caff;"><strong>MSSQl IFP process</strong></td>
</tr>
<tr>
<td style="width: 94.1745px; text-align: center;">{{ CHECK_FILE_END_VAR }}</td>
<td style="width: 139.825px; text-align: center;">{{ COPY_FILE_END_VAR }}</td>
<td style="width: 172px; text-align: center;"><strong>&nbsp;{{ IFP_PROCESS_END_VAR }}</strong></td>
</tr>

</tbody>
</table>
<p><br />&nbsp;<br /><br /><br /><br /><br />__________________________________________________________________________</p>